Drake Wilkerson
 
P.O. Box 133, St. Elizabeth, MO 65075

(573) 301-7739  ▪   wilkersondrake@gmail.com    


Professional Experience
Tech Coordinator assistant 2015-2016
St. Elizabeth R-IV ▪ PO Box 68, 240 Church Street, St. Elizabeth, Missouri 65075
•	Computer Problem Solving (aka fixing computers)
•	Maintained school computers
•	Installed software
•	Reformatted all computers in our school
Skills
•	Proficient in Microsoft Office programs: Word, Excel, and PowerPoint
•	Creative, able to multitask, hard-worker, friendly, efficient, and energetic.
•	Basic knowledge of programming
•	Will to learn
•	Good computer knowledge
•	Good problem solver
Education
Southwest Baptist University 
2016 ▪ Pursuing a degree in Computer Science

References

Erin Schaeffer
Tech Coordinator, St. Elizabeth R-IV School District
(573) 301-9505
erin@ste.k12.mo.us

